```{=html}

<div class="quarto-listing quarto-listing-container-grid">
  <div class="list grid quarto-listing-cols-<%= typeof gridColumns !== 'undefined' ? gridColumns : 2 %>">
    <% for (const item of items) { %>
      <div class="quarto-grid-item card-body h-100 card-left">
        <div class="card-text">
          <i class="bi bi-<%- item.icon %>" aria-hidden="true"></i>
          <a href="<%- item.path %>" class="quarto-grid-link">
            <strong><%= item.title %></strong>
          </a>
          <% if (item.headline) { %>
          <p><%= item.headline %></p>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
</div>


```